/* ----------------Google fonts----------  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* --------------------------
        Common Uitility
---------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}
p,
a,
li{
    color: #888888;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: normal;
}
.button{
    font-size: 1.6rem;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 1.8rem;
    outline: none;
    line-height: 2.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #888888;
    background-color: aquamarine;
}

/* ------------Nav Sections------------ */
header{
    background-color: #FFFBF0;
    height: 100vh;
}
header section nav {
    margin-top: 1rem;
    height: 12rem;
}
.navbar{
    display: flex;
}
.navbar li{
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
/* Header contain section  */

.header-contain{
    height: calc(100vh -12rem);
}
.header-tittle{
    line-height: 8rem;
    color: #FABE4C;
    font-family: 'Bebas Neue', cursive;
}
.header-tittle span{
    color: #363958;
}
.header-text{
    color: #3E3E3E;
}


/* Categories  */
.contain-tittle{
    color: #363958;
    margin: 5rem 0;
}
.card{
    width: 37rem;
    height: 55rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    line-height: 5rem;
}
.card-img{
    background-color: #f1f1f1;
    border-radius: 2rem;
    margin: 1rem;
    height: 65%;
}
.card div h1{
    text-align: center;
    margin: 2rem auto 0;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.card div p{
    margin: 1.5rem auto;
    font-weight:normal;
}
.card-footer{
    
    
   
}
.card-footer h1{
    color: #FABE4C;
    font-size: 3.6rem;
}

.box-size{
    height: 12rem;
    width: 80%;
}
.info-text{
    color: #363958;
    margin: 1.2rem 0;
}
.information{
    margin: 8rem auto;
}